In [2]:
import pandas as pd
import numpy as np

In [4]:
a = np.arange(0, 16, 1.0).reshape((4, 4))
a[:, 0] = np.nan
a[0, 1] = np.nan

In [6]:
a

array([[nan, nan,  2.,  3.],
       [nan,  5.,  6.,  7.],
       [nan,  9., 10., 11.],
       [nan, 13., 14., 15.]])

In [7]:
df = pd.DataFrame(a)
df

    0     1     2     3
0 NaN   NaN   2.0   3.0
1 NaN   5.0   6.0   7.0
2 NaN   9.0  10.0  11.0
3 NaN  13.0  14.0  15.0

In [10]:
df.dropna(how="any", thresh=3, axis=0)

    0     1     2     3
1 NaN   5.0   6.0   7.0
2 NaN   9.0  10.0  11.0
3 NaN  13.0  14.0  15.0

In [ ]:
df.apply()